<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>A pioneer in the field, founded in 2000, Squish Notes remains the cream of the best note-taking apps today.
      Working across all major platforms, this is the app we’d recommend for anyone looking to get started. Why? Because
      it’s got a good, capable free version, you can access your notes practically anywhere (laptop, desktop computer,
      tablet, or phone), and the app's packed with useful features.
    </p>
  </div>
</div>