<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae quasi, odit dicta necessitatibus soluta et possimus quis eveniet, qui doloribus
      sequi quod animi at illum voluptates voluptatem. Quam repellendus placeat ipsa odio. Autem, illo. Nesciunt nemo dicta vel dolorem.</p>
  </div>
</div>