<div class="p-5 mb-4 bg-light rounded-3">
  <h1 class="display-4 fw-bold">Noelle Notes</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime eius veniam totam ipsum laudantium doloremque cupiditate officiis, repellat recusandae
    cumque ipsam fugit nihil dicta nobis consequatur quia officia, suscipit voluptatibus.</p>
  <a href="https://www.youtube.com/watch?v=M9iCTGyWj0s" class="btn btn-primary btn-lg">Notas Antiguas</a>
</div>